body{
	background-image:url(../images/uPlay_PC_Wallpaper1_1920x1080.jpg);
	font-family: 'Roboto', sans-serif;
	background-color:black;
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
}
*{
	box-sizing: border-box;
}
nav{
	padding:10px;
	width:100%;
}
nav ul li{
	display:inline-block;
	list-style-type:none;
	width:150px;
	height:50px;
	box-shadow:10px 10px grey;
	background-color:white;
	border-radius:24px;

}
nav ul li a{
	padding:10px;
	color:blue;
	font-size:18px;
	text-decoration:none;
	display:block;
	text-align:center;
}
#title{
	font-family: 'Indie Flower', cursive;
	text-align:center;
	font-size:40px;
	font-weight: 500;
	color:white;
	background-color:blue;
	text-shadow:5px 2px 4px grey;
}
h1{
	text-align: center;
	font-size: 32px;
	color: white;
}
p{
	margin: : 10%;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: left;
	font-size: 18px;
}
.intro{
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 235px;
	color:white;
	font-size:100px;
	text-shadow:5px 2px 4px grey;
}
.aboutus{
	background-color: rgba(0,0,0,0.5);
}
.aboutus span{
	padding-left:43.5%;
	font-size:50px;
	font-weight:bold;
	text-shadow:5px 2px 4px grey;
}
.aboutus a{
	color: white;
}
.works{
	background-color: rgba(0,0,0,0.5);
}
.works span{
	margin-left: 43%;
	font-size:50px;
	font-weight:bold;
	text-shadow:5px 2px 4px grey;
}
.works table{
	height: 150px;
	width: 300px;
}
.works img{
	margin-left: 25%;
	margin-top: 20px;
}
.works iframe{
	margin: 50px;
	margin-left: 25%;
}
/*CONTACT*/
.contact{
	background-color: rgba(0, 0, 0, 0.5);
}
.contact span{
	padding-left:40%;
	font-size:50px;
	font-weight:bold;
	text-shadow:5px 2px 4px grey;
}
.contact form{
	padding-left:20%;
	font-size:30px;
}
label{ font:22px bold;
}
input[type=text]{ width:350px;
height:40px;
font:22px bold;
border:2px solid #000000;
padding-left:10px;
background-color:#FFFFFF;
}
input[type=email]{ width:350px;
height:40px;
font:22px bold;
border:2px solid #000000;
padding-left:10px;
background-color:#FFFFFF;
}
input[type=radio]{ width:20px;
height:20px;
background-color:#DDDCDC;
}
input[type=checkbox]{ width:20px;
height:20px;
background-color:#DDDCDC;
}
textarea{
font:22px bold;
border:2px solid #000000;
padding-left:10px;
background-color:#FFFFFF;
}
select{ width:350px;
height:40px;
font:22px bold;
border:2px solid #000000;
padding-left:10px;
background-color:#DDDCDC;
}
.button{ width:350px;
height:40px;
font:22px bold;
border-radius: 20px;
background-color: #FFFFFF;
cursor: pointer;
}
.button:hover{ width:350px;
background-color: grey;
}

/*Footer*/
footer{
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: auto;
}
footer img{
	margin: 3px;
}
